:root {
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  font-family: Roboto, Raleway, sans-serif;
  margin: 0;
}

.img {
  display: block;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
}
